---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

import { sanityClient } from "sanity:client";

const posts = await sanityClient.fetch(`*[_type == "post"] | order(publishedAt desc)`);
console.log(posts)
---

<Layout>
	<Welcome />
	<ul>
		{posts.map((post:any) => (
		  <li>
			<a href={'/posts/' + post.slug.current} class="post-link">
			  {post.title}
			</a>
		  </li>
		))}
	  </ul>
</Layout>
